<%- include("partials/header"); -%>

<h1 class="project-header "><%=title%></h1>
<h2 class="db-project-h2 project-header project-container "><%= description%></h2>

<%# Form to insert entries into the test database %>
<div class="db-form-div">
	<form action="/data-base-test" method="post">
		<input type="text" class="form-control project-form" name="newEntry" placeholder="New Entry">
		<button type="submit" class="btn btn-light project-form" name="entryList">Click To Enter Entry</button>
	</form>
</div>

<%# Where the entries are going to be located %>
<div class="db-table-div">
	<table class="table "> <%# TODO: put back - <table class="table table-striped"> - just in case it does not work  %>
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Entry</th>
				<th scope="col">Date</th>                    <%# TODO: Delete this if it does not work %>
	    </tr>
	  </thead>
	  <tbody class="">
			<% for(var i = entries.length - 1; i >= 0; i--){ %>
	    <tr class="db-tr">
	      <th scope="row"><%= entries[i].content %></th>
				<td> Date </td>
	    </tr>
			<% } %>
	  </tbody>
	</table>
</div>

<%- include("partials/footer"); -%>
